<footer>
    <div class="f-info">
        <div class="sociallink">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-brand">&copy; Wondurlust private Limited</div>
        <div class="f-info-link">
            <a href="">Privacy</a>
            <a href="">Terms</a>

        </div>
    </div>
</footer>